body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto;
}


h1 {
    text-align: center;
}

div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.introduction {
    background-color: blue;
}

.main-content {
    background-color:rgb(25, 25, 175);
}

.contact-us {
    background-color: rgb(22, 22, 97);
}

.highlight {
    background-color: yellow;
}