body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


h1 {
    text-align: center;
}

.index-menu-container {
    width: auto;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.index-menu-container .menu-box {
    background: lightcoral;
    border: 2px solid blue;
    height: 25px;
    width: 300px;
    padding: 4 px;
    font-size: 20px;
    font-weight: bold;

}

div {
    padding: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.introduction {
    background-color: blue;
}

.main-content {
    background-color:rgb(25, 25, 175);
}

.contact-us {
    background-color: rgb(22, 22, 97);
}

.highlight {
    background-color: yellow;
}


.flex-container {
    width: auto;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-container div {
    color: black;
    background: peachpuff;
    border: 4px solid brown;
    height: 20px;
    width: 250px;
    flex: auto;
}